.AboutContentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.AboutTextContent {
  text-align: center;
}

.CategoryTitle {
  font-style: italic;
  text-decoration: underline;
}
